
.form-container {
  max-width: 500px;
  margin: 50px auto;
}

.full-width {
  width: 100%;
}

mat-card-subtitle {
  margin-bottom: 24px;
}

// Styles for the slider
.slider-container {
  margin-bottom: 24px;

  .mat-label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
    display: block;
  }
  
  mat-slider {
    width: 100%;
  }
}

// Vertically center the spinner inside the button
button[mat-raised-button] {
  line-height: 36px; // Standard height of a mat-raised-button
  
  mat-spinner {
    vertical-align: middle;
  }
}