# Dependencies
/node_modules

# Angular cache and output
/.angular
/dist
/out-tsc
/bazel-out

# IDE and Editors
/.idea
/.vscode
*.swp
*.swo

# OS System Files
.DS_Store
Thumbs.db

# Logs
npm-debug.log
yarn-error.log
pnpm-debug.log

# Testing
/coverage

# Temporary files
/tmp
/connect.lock

# Environment files (Security)
.env